* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "kumbh Sans";
}
:root {
  font-size: 16px;
  --orange: hsl(26, 100%, 55%);
  --light-orange: rgb(226, 147, 0);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(0, 1%, 59%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --light-black: rgba(0, 0, 0, 0.75);
}
a {
  color: var(--Grayish-blue);
}
h1,
h2,
h3 {
  letter-spacing: 2px;
}
h1 {
  font-size: 1.5em;
  text-transform: capitalize;
  color: var(--very-dark-blue);
}
h2 {
  font-size: 1.5em;
}
h3 {
  text-transform: uppercase;
  font-size: 0.8em;
  color: var(--light-orange);
}
p {
  line-height: 1.4;
  color: var(--Dark-grayish-blue);
  font-weight: 300;
  margin-bottom: 0.6em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/* mobile version*/
.container {
  width: 100vw;
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  height: auto;
}
.curtain {
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 1;
  position: absolute;
  display: none;
  opacity: 0.75;
}
.header {
  width: 100%;
  padding: 1.3em 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header-group-1 {
  display: flex;
  gap: 1.5em;
  align-items: center;
  width: 50%;
}
.open {
  width: 1em;
  margin-top: 0.3em;
}
.logo {
  width: 80%;
  max-width: 11em;
}
.header-group-2 {
  display: flex;
  gap: 1.5em;
  align-items: center;
  position: relative;
}
.cart-notification {
  position: absolute;
  width: 1em;
  height: 1em;
  background-color: var(--orange);
  top: -0.5em;
  left: 1em;
  border-radius: 50%;
}
.cart-amount {
  color: var(--White);
  font-size: 0.8em;
}
.navbar {
  position: absolute;
  width: 60%;
  height: 100vh;
  background-color: var(--White);
  top: 0;
  left: 0;
  padding: 25% 7%;
  display: none;
  z-index: 1;
}
.active {
  display: block;
}
.close {
  position: absolute;
  top: 3%;
}
.navbar ul li {
  padding: 7% 0;
  list-style: none;
  font-weight: 800;
  letter-spacing: 1.5px;
}
.navbar ul li a {
  text-decoration: none;
}
.navbar ul li a:hover {
  color: var(--light-black);
}
.cart {
  width: 1.3em;
}
.user {
  width: 1.5em;
}
.cart-list {
  position: absolute;
  width: 10em;
  height: 10em;
  background-color: var(--White);
  top: 5em;
  left: 0;
  width: 95%;
  height: 17em;
  transform: translateX(2.5%);
  z-index: 1;
  border-radius: 0.5em;
  display: none;
  flex-direction: column;
}
.cart-list p {
  color: var(--very-dark-blue);
  font-weight: bolder;
  padding: 5%;
  border-bottom: 2px solid var(--Grayish-blue);
}

.checkout {
  width: 90% !important;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10%;
  left: 5%;
}
/* main page content */
.product-img {
  position: relative;
  height: 90vw;
}
.product,
.lightbox-content {
  width: 100%;
  transition: 1s;
  display: none;
}
.show-product {
  display: block;
}
.carousel-ctrls {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 5%;
  bottom: 40%;
}
.carousel-ctrl {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  background-color: var(--White);
  display: grid;
  place-content: center;
}
.carousel-ctrl:hover {
  background-color: var(--pale-orange);
}
.carousel-ctrl img {
  width: 0.6em;
}
.thumbnails {
  display: none;
}
.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light-black);
  z-index: 3;
  display: none;
}
.lightbox-content {
  width: 50%;
  margin: auto;
}
.product-desc {
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 1.4em;
}
.price {
  display: flex;
  align-items: center;
}
.price-group-1 {
  display: flex;
  width: 50%;
  gap: 1.3em;
  align-items: center;
}
.bonus {
  background-color: var(--pale-orange);
  padding: 0.3em;
  border-radius: 0.5em;
  border: none;
}
.price-group-2 {
  width: 50%;
  text-align: right;
  text-decoration: line-through;
  color: var(--Dark-grayish-blue);
}
.add-to-cart {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: var(--Light-grayish-blue);
  border-radius: 0.4em;
}
.cta {
  width: 100%;
  padding: 0.8em 0;
  border-radius: 0.5em;
  border: none;
  background: var(--orange);
  color: var(--White);
  font-size: 1em;
}
.cta:hover {
  background-color: var(--light-orange);
}
.cta-cart {
  margin-right: 0.6em;
  width: 1.2em;
}

@media only screen and (min-width: 1024px) {
  .header {
    border-bottom: 3px solid var(--Light-grayish-blue);
    padding: 0;
    height: 13%;
  }
  h1 {
    font-size: 1.8em;
  }
  .navbar {
    position: relative;
    display: block;
    height: auto;
    width: auto;
    padding: 0;
    height: 100%;
  }
  .navbar ul {
    display: flex;
    height: 100%;
  }
  .navbar ul li {
    padding: 0 1em;
    height: 100%;
  }
  .navbar ul li a {
    font-size: 0.7em;
  }
  .navbar ul li a:hover {
    border-bottom: 2px solid var(--orange);
  }
  .menu {
    display: none;
  }
  .container {
    height: 100vh;
    padding: 0 10%;
    overflow: visible;
    display: flex;
    align-items: center;
  }
  .product-container {
    display: flex;
    padding: 0 5%;
    height: 100%;
    gap: 5%;
    align-items: center;
  }
  .product-img {
    height: 80%;
    width: 40%;
    display: grid;
    gap: 1em;
  }
  .product {
    width: 100%;
    border-radius: 1em;
    margin: auto;
  }
  .carousel-ctrl {
    display: none;
  }
  .thumbnails,
  .lightbox-thumbnails {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .thumbnail,
  .lightbox-thumbnail {
    width: 20%;
    border-radius: 0.4em;
    transition: 0.5s opacity;
    z-index: 3;
  }
  .lightbox {
    padding: 5% 33%;
    height: 100vh;
  }
  .lightbox-content {
    width: 100%;
    margin-bottom: 20px;
  }
  .active {
    display: block;
  }
  .thumbnail:hover,
  .lightbox-thumbnail:hover {
    outline: 2px solid var(--orange);
    opacity: 0.4;
  }
  .product-desc {
    height: 80%;
    width: 60%;
    gap: 0.8em;
    justify-content: center;
  }

  .add-to-cart {
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5em;
  }
  .price {
    flex-direction: column;
    width: 100%;
    gap: 0.3em;
    margin-bottom: 1.3em;
  }
  .price-group-1,
  .price-group-2 {
    text-align: left;
    width: 100%;
  }
  .current-price {
    font-size: 1.3em;
  }
  .counter {
    width: 40%;
    align-items: center;
  }
  .cta {
    width: 60%;
  }
}
@media only screen and (min-width: 1440px) {
  h1 {
    font-size: 2.5em;
  }
}
